body {
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(23, 23, 23));
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
}

.wrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  margin: 0 auto;
  border: 3px solid;
}

.main-content {
  padding-left: 88px;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
  width: 100%;
}

.sidebar {
  background: #e0ebfe;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 550px;
  border-right: 1px solid;
  border-color: rgb(0, 0, 0);
}

.foto {
  border-radius: 6px;
  max-width: 315px;
  margin: auto;
  display: flex;
}

.sidebar-content {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.contacts-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 8px;
}

.contacts-type {
  color: #161d2a;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 8px;
}

.contacts-link {
  color: #2979ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.contacts-item {
  margin-top: 0px;
  margin-bottom: 4px;
}

.contacts-container {
  margin-bottom: 40px;
}

.contactsBtn {
  background-color:#0a0a23;
  color: #fff;
  border:none;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 120px;
  height: 35px;
  margin-top: 8px;
}

.contactsBtn:hover {
  background-color: #000000;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 2px 2px rgb(122, 200, 239);
  background-color:rgb(122, 200, 239);
  transition: 0.2s;
}

.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 8px;
}

.skills-list {
  padding-left: 20px;
}

.skills-list-item {
  color: #161d2a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.my-profession {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.my-name {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  margin-top: 0px;
  margin-bottom: 12px;
}

.my-descr {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 1px solid;
  border-color: rgb(0, 0, 0);
}

.my-info {
  margin-bottom: 40px;
}

.my-projects-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.my-projects-item {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.my-projects-list {
  padding-left: 16px;
}

.my-projects-item-link {
  color: #005fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.my-projects-item-tech {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.my-projects-container {
  margin-bottom: 40px;
}

.work-experience-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.work-experience-company {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 12px;
}

.company-name {
  color: #6d9bf5;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.work-experience-period {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 8px;
}

.work-experience-period-separator {
  color: #000;
}

.work-experience-duties-list {
  padding-left: 16px;
}

.work-experience-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.work-experience-company {
  margin-bottom: 12px;
}

.education-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.education-title-name {
  color: #6d9bf5;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.education-title-name-specialty {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.education-period {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.education-period-separator {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.education {
  margin-bottom: 40px;
}

/* modal contacts */

.modal-backdrop {
  display: none;
  position: fixed;
  z-index: 999;
  left: 10%;
  top: 57%;
  width: 100%;
  height: 100%;
  overflow: auto;
  max-width: 380px;
}

.modal {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 80%;
}

.close {
  color: #414141;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}
